#geoserver

GEOSERVER_ADMIN_USER=
GEOSERVER_ADMIN_PASSWORD=

GEOSERVER_UID=1000
GEOSERVER_GID=10001

DB_BACKEND=POSTGRES
HOST=postgis                         
POSTGRES_PORT=
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASS=
INITIAL_MEMORY=4G
MAXIMUM_MEMORY=8750M

# EXISTING_DATA_DIR=TRUE

TOMCAT_EXTRAS=FALSE
JAVA_OPTS="-DALLOW_ENV_PARAMETRIZATION=true"

CSRF_WHITELIST=server.org
PROXY_BASE_URL=https://server.org/geoserver