upstream geoserver { 
    server geoserver:8080 max_fails=0; 
}

server {
    listen 80;
    server_name geoserver.avoin.org;
    
    location /.well-known/acme-challenge {
        alias /var/www/certbot/.well-known/acme-challenge;
    }

    location / {
        return 301 https://$host$request_uri;
    }
}
